.side_menu {
  position: absolute;
  bottom: 40px;
  right: 10px;
  z-index: 15;
}

.button {
  cursor: pointer;
  color: #000000;
  background: rgba(255, 255, 255, .8);
  border: 1px solid #000000;
  padding: .3em .5em .3em .5em;
  border-radius: .5em;
  border: 1px solid #000000;
}

.button2 {
  cursor: pointer;
  color: #000000;
  background: rgba(255, 255, 255, .8);
  border: 1px solid #000000;
  padding: .3em .5em .3em .5em;
  display: none;
  border-radius: .5em;
  border: 1px solid #000000;
}